/* PALETTE */
:root {
  --primary: #F4EDE4;
  --secondary: #541554;
  --tertiary: #FFFFFF;
  --quaternary: #000000;
  --heading-size: 25px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* GLOBAL STYLES */
  body {
    background-color: var(--primary);
    color: var(--tertiary);
  }

  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: var(--tertiary);
  }

/* NAVBAR */
 nav {
    background-color: var(--secondary);
    height: 85px;
    border: 2px solid red;
  }
  
  nav > ul > li > img {
    width: 150px; 
    padding: 25px;
    margin-left: 135px;
  }

  nav > ul {
    height: 80px;
    width: auto;
    display: flex;
    align-items: center;
    padding: 0 10px;
    margin-left: 165px;
    font-size: 14px;
    font-weight: bold;
    gap: 20px
  }

  nav .arrow::after {
    content: "\02C5";
    font-size: 12px;
    margin-left: 5px;
  } 

  nav .connect {
    margin-left: 130px;
    
  }

button.team {
    border: 1px solid var(--tertiary);
    color: var(--tertiary);
    padding: 12px 12px;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    transition: border-width 0.3s ease-in-out;
    border-radius: 4px;
    margin-left: 25px;
  }

  button.free {
    background-color: white;
    color: var(--secondary);
    margin-left: 5px;
  }
  
  button.team:hover {
    border: 2px solid var(--tertiary);

  }
  button.free:hover {
    border: 0px
  }

  /* HEADER */
  header {
    background-color: var(--secondary);
    height: 490px;
    border: 2px solid orange;
    display: flex;
  }
  
  .header-content {
    display: flex;
    justify-content: center;
    margin-top: 15px;

  }
  
  .header-text {
    flex: 1;
    text-align: left;
    color: var(--tertiary);
    margin-left: 340px;
    margin-right: 5px;
  }
  
  .header-video {
    flex: 1;
    text-align: right;
  }
  
  .header-video video {
    width: 850px;
    height: 400px;
    margin-right: 95px;
 }  

  h1 {
    font-size: 43px;
    margin-right: 37px;
  }

  h2 {
    color: rgb(236,177,46);
    font-size: 43px;
  }

  h3, h4 {
    font-size: 17px;
    margin-top: 8px;
  }


  /* MAIN */
  main {
    background-color: var(--primary);
    min-height: 80vh;
  }
  
   /* FOOTER */
  footer {
    background-color: tomato;
    height: 10vh;
  }
  
  p {
    text-align: center;
    padding-top: 32px;
    color: var(--tertiary);
  }